<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <i id="s1"  class="fa-solid fa-cart-shopping fs-2 "></i>
        <a id="p1" class="navbar-brand" routerLink="">  Tan Cart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li  class="nav-item">
                    <input  (keyup)="search($event)" style="width:400px" class="form-control" type="text" placeholder="Enter Product Name">

                </li>
                <!-- <li id="p3" class="nav-item"><a class="nav-link active" aria-current="page" routerLink="whishlist">My Whish list <i class="fa-solid fa-heart fs-4"></i></a></li> -->
                
            </ul>
            <form class="d-flex">

                <button  id="p3" class="btn btn-outline-dark" type="submit" routerLink="whishlist">
                    <i class="bi-cart-fill me-1"></i>
                    My Whish list
                    <i class="fa-solid fa-heart fs-4"></i>
                
                    
                    <!-- <span class="badge bg-dark text-white ms-1 rounded-pill">0</span> -->
                </button> &nbsp;&nbsp;

                <button class="btn btn-outline-dark" type="submit" routerLink="cart">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>
</nav>